/* Global styles to remove white border around the body */
body {
  margin: 0;
  padding: 0;
  background-color: #141414; /* Set the background color for dark mode */
  color: #f0f0f0; /* Set the text color for dark mode */
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
